@font-face {
  font-family: "Inter";
  src: url("/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inconsolata";
  src: url("/Inconsolata-Light.ttf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

:root {
  --main-bg-color: #000000;
  --main-fg-color: #ffffff;
  --bright-primary: #cc0000;
  --normal-primary: #b90000;
  --dark-primary: #8b0000;
  --faded-primary: #3e0000;

  font-family: 'Inconsolata', monospace;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

video {
  display: none;
}

canvas {
  box-shadow: 10px 10px 0 var(--dark-primary);
}

.control {
  background-color: var(--main-fg-color);
  color: var(--main-bg-color);
  padding: 1rem;
  box-shadow: 10px 10px 0 var(--dark-primary);
}

.controlflex {
  display: flex;
  gap: 1rem;
}

.controlflex span {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0.5rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

label {
  user-select: none;
}

#bayerthreshold {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

#bayerthreshold h3 {
  font-size: 1rem;
}

#customcolor {
  padding-top: 1rem;
}

p {
  margin: 0;
}

input {
  accent-color: var(--dark-primary);
}

a {
  color: var(--normal-primary);
}

a:hover,
a:focus {
  color: var(--bright-primary);
}

a:active {
  color: white;
}

@media screen and (max-width: 500px) {
  .controlflex {
    flex-direction: column;
  }

  .dither_type {
    display: flex;
    flex-direction: column;
  }
}